.ads_header {
    padding: 24px;
    font-family: 'roboto', sans-serif;
    border-bottom: 1px solid #f1f1f1;
}

.Header_title {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
}

.ads_button {
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 7px;
    background-color: black;
    color: crimson;
}

.Box_content {
    padding: 24px;
}

.Box_info {

}

.Box_name {

}

.Box_phone {

}

.Model_window {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    display: flex;

}

.Model_form {
    padding: 24px;
    border-radius: 12px;
    background-color: blanchedalmond;
    display: inline-block;
}

.Form_title{
    font-family: 'roboto' 'sans-sherif';
    font-size: 24px;
    font-weight: 700;
}

.Content_field {
    
}